body {
  margin-top: 8%;

  text-align: center;
  /* display:block;
  margin: auto 0px; */
}

body.login {
  background-color: pink;
}

form {
  border: 1px solid black;
  margin: 0 34%;
  box-shadow: 10px 10px 8px 10px #888888;
  padding: 10px;

}

@media only screen and (max-width: 768px) {
  form {
    border: 1px solid black;
    margin: 0 25%;
    box-shadow: 10px 10px 8px 10px #888888;
    padding: 15px;

  }
}
